In [1]:
import numpy as np
import pandas as pd
from scipy.linalg import eig
movies_df = pd.read_csv(r"C:\Users\akgh1\Desktop\movies.csv")

ratings_df = pd.read_csv(r"C:\Users\akgh1\Desktop\ratings.csv")
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [3]:
movies_df["title"].values[855]

'Drop Dead Fred (1991)'

In [4]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [6]:
dic[0]

1

In [5]:
dic = {}
for i in range(9742):
    dic[i] = movies_df['movieId'][i]
dic[9741]

193609

In [45]:
df = np.loadtxt("S.txt")
df

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [48]:
len(np.dot(df.T , df))

9742

In [6]:
# df = np.loadtxt("myarray.txt")
# df

array([[4., 0., 4., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [2., 2., 2., ..., 0., 0., 0.],
       [3., 0., 0., ..., 0., 0., 0.],
       [5., 0., 0., ..., 0., 0., 0.]])

In [46]:
def svd(matrix, k=None):
    """
    Perform Singular Value Decomposition (SVD) on the given matrix.

    Parameters:
    - matrix: The input matrix to decompose.
    - k: The number of singular values to retain. If None, all singular values are retained.

    Returns:
    U, Sigma, Vt: Matrices from the decomposition.
    """
    # Step 1: Compute covariance matrices
    M = np.dot(matrix, matrix.T)
    N = np.dot(matrix.T, matrix)

    # Step 2: Compute eigenvalues and eigenvectors
    eigenvalues_M, U = np.linalg.eigh(M)
    print(eigenvalues_M)
    eigenvalues_N, Vt = np.linalg.eigh(N)
  
    # Step 3: Sort eigenvalues and eigenvectors in descending order
    # U = U[:, ::-1]
    # Sort the eigenvalues in descending order
    sorted_indices = np.argsort(eigenvalues_N)[::-1]
    eigenvalues_N = eigenvalues_N[sorted_indices]
    Vt = Vt[:, sorted_indices]
    # Vt = Vt[:, ::-1]
    sorted_indices = np.argsort(eigenvalues_M)[::-1]
    eigenvalues_M = eigenvalues_M[sorted_indices]
    print(eigenvalues_M)
    # print(eigenvalues_N)
    j=[]
    # Compute the singular values
    # singular_values = np.sqrt(eigenvalues)
    p = 0
    for i in range(len(eigenvalues_N)):
        if eigenvalues_N[i] == 0 or eigenvalues_N[i] < 0:
            p = i
            break
    
    for i in range(len(eigenvalues_N)):
        if eigenvalues_N[i] != 0 :
            j.append(eigenvalues_N[i])
    r = len(j)
    print(" r= " , r)
    no_zero = np.array(j)
    no_zero = np.sqrt(no_zero)
    print(no_zero)
    U = U[:, sorted_indices]
    # eigenvalues_M = eigenvalues_M[::-1]

    # Step 4: Compute singular values (square root of eigenvalues)
    # singular_values = np.sqrt(eigenvalues_N)
    # Sigma = np.diag(singular_values)

    Sigma = no_zero[~np.isnan(no_zero)]

    # Sigma = np.sqrt(eigenvalues_M)

    # Step 5: Truncate matrices based on the specified number of singular values (k)
    if k is not None:
        U = U[:, :k]
        Sigma = Sigma[:k]
        Vt = Vt[:k, :]

    return U[: , :p], Sigma, Vt[: , :p].T

In [58]:
import numpy as np

def power_iteration(matrix, num_iterations):
    # Initialize a random vector
    vector = np.ones(len(matrix))

    for _ in range(num_iterations):
        # Multiply the matrix by the vector
        matrix_vector_product = np.dot(matrix, vector)

        # Normalize the result
        vector = matrix_vector_product / np.linalg.norm(matrix_vector_product)

    # Calculate the eigenvalue
    eigenvalue = np.dot(matrix_vector_product, vector)

    return eigenvalue, vector

def eigen_decomposition(A, num_iterations=4):
    n = len(A)
    eigenvalues = np.zeros(n)
    eigenvectors = np.zeros((n, n))
    
    for i in range(n):
        # Use power iteration to find eigenvalue and eigenvector
        eigenvalue, eigenvector = power_iteration(A, num_iterations)
        # eigenvalue *=10
        # Store the results
        eigenvalues[i] = eigenvalue
        eigenvectors[:, i] = eigenvector
    
        # Deflate the matrix to find the next eigenvalue
        print("mamad")
        print(np.outer(eigenvector, eigenvector))
        # A = A - eigenvalue * np.outer(eigenvector, eigenvector)
        A = A - np.dot(eigenvalue , np.dot(eigenvector, eigenvector))
    return eigenvalues, eigenvectors


# Example usage
# matrix = np.array([
#     [4, -1],
#     [2,  1]
# ])
matrix = np.array([[4, 11 , 14],
                   [8, 7 , -2]])
# # matrix = np.array([[1, -1],
# #               [-2, 2],
# #               [2, -2]])
matrix = np.dot(matrix.T , matrix)
# matrix = np.dot(df.T , df)
# eigenvalue, eigenvector = power_iteration(matrix, num_iterations=1000)
eigenvalues, eigenvectors = eigen_decomposition(matrix)
for i in range(0 , len(eigenvalues)):
    eigenvalues[i] = round(eigenvalues[i], 2)
print("Eigenvalue:", eigenvalues)
print("Eigenvector:", eigenvectors)

mamad
[[0.11145854 0.22265625 0.22239543]
 [0.22265625 0.44479146 0.44427043]
 [0.22239543 0.44427043 0.44375   ]]
mamad
[[0.43140897 0.34041927 0.35973601]
 [0.34041927 0.26862046 0.28386305]
 [0.35973601 0.28386305 0.29997057]]
mamad
[[0.35894416 0.33732288 0.34105208]
 [0.33732288 0.31700398 0.32050855]
 [0.34105208 0.32050855 0.32405186]]
Eigenvalue: [ 360.    751.97 3001.52]
Eigenvector: [[0.33385406 0.65681731 0.59911949]
 [0.66692688 0.51828608 0.56303107]
 [0.66614563 0.54769569 0.56925553]]

In [ ]:
def svd(A, eigenvalues , V):

    # Sort the eigenvalues in descending order
    sorted_indices = np.argsort(eigenvalues)[::-1]
    eigenvalues = eigenvalues[sorted_indices]
    V = V[:, sorted_indices]
    # Compute the singular values
    for eigen_value in eigenvalues:
        if eigen_value > 0:
            singular_values = np.sqrt(eigenvalues)

    # Compute the matrix U
    U = np.dot(A, V)
    print(U)

    num_positive_singular = len(singular_values)
    
    U[: , :num_positive_singular] /= singular_values
    
    # Create the diagonal matrix Σ
    Sigma = np.diag(singular_values)
    
    return U[: , :num_positive_singular], Sigma, V[:, :num_positive_singular].T

In [9]:
U, Sigma, Vt = svd(A)
print( U) 
print(" ")
print("___________________________________________________________________________")
print(Sigma) 
print(" ")
print("___________________________________________________________________________")
print(Vt)
print("___________________________________________________________________________")
# ss = np.dot(U , Sigma)
# print(np.dot(ss,Vt))

[ 90. 360.]
[360.  90.]
 r=  3
[18.97366596  9.48683298         nan]
[[-0.9486833   0.31622777]
 [-0.31622777 -0.9486833 ]]

___________________________________________________________________________
[18.97366596  9.48683298]

___________________________________________________________________________
[[ 0.33333333  0.66666667  0.66666667]
 [ 0.66666667  0.33333333 -0.66666667]]
___________________________________________________________________________

C:\Users\akgh1\AppData\Local\Temp\ipykernel_17888\4161745378.py:47: RuntimeWarning: invalid value encountered in sqrt
  no_zero = np.sqrt(no_zero)

In [210]:
Un, S, V = np.linalg.svd(df)
print( U) 
print(" ")
print("___________________________________________________________________________")
print(S) 
print(" ")
print("___________________________________________________________________________")
print(V)
print("___________________________________________________________________________")
# ss = np.dot(U , S)
# print(np.dot(ss,V))

[[-5.87345305e-02  6.21026505e-02 -3.49542008e-03 ...  2.97456408e-03
  -2.10156653e-04  3.39456818e-04]
 [-5.78779114e-03 -1.75595387e-02 -4.82222499e-03 ... -3.16470381e-03
  -8.42336637e-03  7.32719887e-04]
 [-1.04449527e-03  1.60451128e-03  1.54613096e-03 ... -2.23215056e-03
  -2.54491467e-03 -1.84948611e-03]
 ...
 [-1.13309443e-01  3.55645722e-03 -8.97055798e-03 ...  1.25486545e-03
  -5.09102366e-04  1.34914595e-03]
 [-8.06446379e-03  1.51896718e-02 -4.13018274e-02 ...  1.12256696e-02
  -4.14863382e-03 -1.77216763e-02]
 [-1.36649651e-01 -2.01098587e-01  7.35214792e-02 ... -1.19085693e-04
  -4.22901430e-04  7.43794860e-04]]

___________________________________________________________________________
[511.66576176 223.84355603 187.22055486 163.96610293 149.42576459
 141.96179148 129.7585341  118.48894988 116.53481388 108.15042669
 105.04111753 103.61746881 101.94929334  97.00537043  95.48909396
  95.29604573  91.76680298  90.67672863  89.35954452  88.18959731
  87.53033315  85.50963658  83.75429386  83.18462726  82.39970654
  79.71197468  78.87561445  78.53426421  77.55871126  76.23624657
  75.82378677  75.28294963  75.15591111  73.72886005  72.75736831
  72.4937732   72.15362921  71.42375127  71.03569885  70.8584457
  70.13063768  69.75053574  68.78677269  68.04059906  67.54383984
  67.1952043   66.62353628  66.31642736  66.02438351  65.51161948
  65.02991569  64.71041252  64.46673259  64.06761777  63.81185296
  63.12223119  62.86662754  62.52662706  62.21520238  61.76032125
  61.47732497  61.31984276  61.08661938  60.93913385  60.79056541
  60.24129496  59.90013203  59.77822836  59.20224243  58.9931115
  58.60447554  58.11777155  58.02033901  57.92529373  57.51291753
  57.33675343  56.97068514  56.80563737  56.52164786  56.24639145
  56.09347958  55.70805396  55.48833463  55.27179429  55.04911973
  54.95358176  54.52148134  54.35293933  54.29079027  53.8758984
  53.77803532  53.45752476  53.14977537  53.03030439  52.84765362
  52.58899416  52.52820652  52.2503504   52.01009755  51.74459312
  51.43218061  51.27857626  51.18826377  50.93814628  50.84890261
  50.60632511  50.46579216  50.35140919  50.05440128  49.68178734
  49.51376067  49.37783344  48.75545919  48.6345689   48.31062435
  48.11238593  48.03222505  47.92158941  47.73136534  47.69348633
  47.48688043  47.32503605  47.12310091  47.00173003  46.80564502
  46.55212475  46.44468153  46.11070689  46.01162041  45.87092664
  45.72916815  45.41358388  45.22541054  45.2113438   44.86993404
  44.8629884   44.40144392  44.23703717  44.16977922  43.82112805
  43.69845516  43.64632482  43.4907949   43.09485779  42.87288224
  42.79284464  42.68257821  42.58711926  42.49724038  42.36883082
  42.31304442  42.04668051  42.01707776  41.94808437  41.54007507
  41.45847681  41.34569358  41.1690211   41.11051788  40.9859668
  40.93492481  40.7412215   40.30609384  40.15167816  40.096411
  39.79078592  39.57762608  39.51674883  39.41492334  39.22961062
  39.05474425  38.91381573  38.76389144  38.56074694  38.42355893
  38.30670452  38.18352929  38.11829532  37.92464939  37.85741685
  37.82860037  37.56045545  37.38085597  37.27848161  37.25729213
  37.16618512  36.77534941  36.66309538  36.62737982  36.32244517
  36.25201874  36.12065561  35.99474456  35.8945237   35.77374982
  35.6241857   35.48874247  35.43318357  35.23717955  35.15074911
  34.98613141  34.93965029  34.79672197  34.67513323  34.5720316
  34.53477459  34.28698194  34.07974812  34.05020391  33.92964741
  33.74779956  33.6353019   33.52039829  33.43740851  33.34209812
  33.1866654   33.03657401  33.00101121  32.97530757  32.76606293
  32.62467429  32.56174589  32.4946072   32.38048672  32.29373996
  32.1976149   32.11601979  31.95087784  31.84980168  31.67678447
  31.58931323  31.47592056  31.45973391  31.26565131  31.11245195
  31.05558856  30.96383347  30.89490654  30.80606763  30.58256763
  30.43872478  30.19693191  30.17660953  30.14244319  29.98069879
  29.81930205  29.79770542  29.79442508  29.58664415  29.49138958
  29.44983421  29.31824097  29.24466616  29.13365511  29.09147163
  28.96315248  28.8590083   28.83996796  28.65013468  28.62162084
  28.52426494  28.42282713  28.33117351  28.16966693  28.13090307
  28.00435129  27.92601386  27.74051425  27.62851352  27.50632319
  27.46738725  27.37906387  27.26232823  27.18831075  27.13102855
  27.08615096  27.03294706  26.86373805  26.73384417  26.70448797
  26.66007253  26.56284115  26.47206101  26.43789961  26.29977881
  26.25633299  26.17935994  26.10014066  26.04170171  26.01844387
  25.80577787  25.77626886  25.60361067  25.4888798   25.44678107
  25.41532695  25.3229838   25.21786547  25.18710493  25.11025841
  24.95310933  24.93469729  24.88242739  24.74841538  24.64770884
  24.58025989  24.53368807  24.51288794  24.27111039  24.26427926
  24.17686724  24.11347329  24.09569359  23.9688104   23.90688303
  23.75120245  23.70915355  23.656642    23.58261544  23.50813436
  23.32292706  23.29652678  23.24824439  23.16581958  23.0888157
  23.08051131  22.94927986  22.83413012  22.79408395  22.69289242
  22.66945693  22.6172189   22.55648637  22.48626682  22.3699271
  22.30452979  22.2172804   22.15548259  22.14439109  22.10633964
  22.04952827  21.98414217  21.89009901  21.79934366  21.74719313
  21.59702155  21.58217659  21.53848202  21.43050083  21.38482339
  21.35183649  21.17484472  21.1656135   21.1313049   21.02878749
  20.96668467  20.93938284  20.90408857  20.85802828  20.72606034
  20.67532633  20.56450445  20.53994207  20.4953277   20.42067805
  20.38599236  20.29300963  20.23199961  20.16173888  20.09141227
  20.02952577  19.96207255  19.9062033   19.84723835  19.78806631
  19.67010414  19.6481294   19.58997591  19.45957282  19.41438377
  19.37830032  19.31666898  19.28867778  19.2365451   19.18632515
  19.11636636  19.02457774  18.97944176  18.95327677  18.84152775
  18.82016967  18.81044366  18.75883101  18.6827956   18.58904991
  18.53202951  18.45046457  18.42154112  18.34771836  18.30947845
  18.25912578  18.17869344  18.13367685  18.03881531  17.98418132
  17.94896074  17.90002844  17.85581621  17.80296989  17.6669512
  17.63701864  17.58201649  17.54529081  17.52089214  17.49001479
  17.43306046  17.41641614  17.35270608  17.23787751  17.15276838
  17.11407927  17.03625469  17.00823357  16.96224224  16.9006272
  16.86864416  16.80357289  16.75493021  16.63857935  16.61027665
  16.57890403  16.50443497  16.46173064  16.42860723  16.37888591
  16.29969295  16.25520083  16.23290064  16.13798954  16.10418951
  16.0443032   16.00636447  15.94784255  15.89835607  15.83132052
  15.7381074   15.71950287  15.61933131  15.58809338  15.5439792
  15.47746683  15.45722339  15.4349586   15.37713034  15.27072472
  15.23563479  15.20905301  15.1426198   15.10740949  15.02305619
  14.96650523  14.92470405  14.87825579  14.81721607  14.74095253
  14.67976352  14.62955615  14.55550133  14.53920798  14.46370161
  14.42034049  14.38188974  14.33077677  14.26880829  14.21495981
  14.19288984  14.14026828  14.07501212  14.07249912  14.00949343
  13.94344914  13.89072311  13.8307878   13.81461665  13.72923096
  13.64044432  13.61029992  13.59725949  13.55218973  13.48178364
  13.40853179  13.36590431  13.34803115  13.2701367   13.17938517
  13.14915703  13.07672591  13.02907912  12.98863541  12.93840372
  12.88494271  12.83849722  12.81818392  12.64367307  12.61234097
  12.59247533  12.58479952  12.4081016   12.39853972  12.37172808
  12.3173177   12.29057803  12.18600737  12.11353753  12.09659994
  12.00972666  11.97888008  11.95757794  11.90530364  11.86347539
  11.77915583  11.74146721  11.6926534   11.60748173  11.55656313
  11.47636041  11.4707782   11.40490482  11.37162151  11.3392564
  11.24080915  11.18592211  11.11426426  11.0337917   11.01219089
  10.93097749  10.88927665  10.79516845  10.77812031  10.74211322
  10.70392711  10.61225952  10.57846675  10.46203347  10.43219337
  10.38214307  10.32307778  10.29588042  10.18438118  10.17293002
  10.08523437   9.9894379    9.96898726   9.89170827   9.80779321
   9.78183611   9.65932388   9.61284412   9.5498286    9.4573146
   9.37785489   9.33761196   9.25689862   9.17011609   9.14446118
   9.07287066   8.92882541   8.87691073   8.80404499   8.72042985
   8.65345172   8.61947912   8.60269044   8.53817806   8.34589562
   8.28301955   8.16030665   8.06954065   7.97274571   7.86634384
   7.81762919   7.69991995   7.64540763   7.5881065    7.53850603
   7.33920331   7.29287545   7.16667888   7.06522246   6.97406384
   6.77548031   6.64451507   6.50155907   6.45054185   6.312025
   6.15170995   6.05626388   5.99024348   5.88965379   5.69095268
   5.23655821   4.93610707   4.75084174   4.69421911   4.55375264
   4.48180615   4.3301455    3.87041894   3.11986007   2.94810443]

___________________________________________________________________________
[[-7.18204542e-02 -3.80806480e-02 -1.62218386e-02 ... -5.57904600e-05
  -5.57904600e-05 -2.83770370e-04]
 [ 3.00772444e-02  4.23748213e-03  2.54550304e-02 ... -5.12481526e-04
  -5.12481526e-04 -1.35101457e-03]
 [-7.44803490e-02 -5.99187328e-02 -1.93802300e-02 ...  3.39148568e-05
   3.39148568e-05 -1.76068061e-04]
 ...
 [-7.68235919e-04 -3.27191770e-04  4.00212602e-05 ...  9.92623017e-01
  -7.37698325e-03  1.23488763e-04]
 [-7.68235919e-04 -3.27191770e-04  4.00212602e-05 ... -7.37698325e-03
   9.92623017e-01  1.23488763e-04]
 [ 4.49368742e-03  1.32841806e-03  4.80660934e-04 ...  3.02652803e-05
   3.02652803e-05  9.84108880e-01]]
___________________________________________________________________________

In [329]:
def top_cosine_similarity(U, data, movie_id, top_n=10):
    index = movie_id - 1 # Movie id starts from 1
    user_row = U[index, :]
    magnitude = np.sqrt(np.einsum('ij, ij -> i', data, data))
    similarity = np.dot(user_row, data.T) / (magnitude[index] * magnitude)
    sort_indexes = np.argsort(-similarity)
    print(similarity.shape)
    print(sort_indexes , sort_indexes.max())
    return sort_indexes[:top_n]

In [338]:
k = 610
movie_id = 1 # Grab an id from movies.dat
top_n = 10

sliced = V.T[:, :k] # representative data
print(sliced.shape)
indexes = top_cosine_similarity(Un, sliced, movie_id, top_n)
# print_similar_movies(movie_data, movie_id, indexes)

(9742, 610)
(9742,)
[1126 1332 2788 ... 9590 6503 9117] 9741

C:\Users\akgh1\AppData\Local\Temp\ipykernel_21184\4166208365.py:5: RuntimeWarning: invalid value encountered in divide
  similarity = np.dot(user_row, data.T) / (magnitude[index] * magnitude)

In [339]:
indexes

array([1126, 1332, 2788, 2182, 1326,  927, 1505, 1517, 1110, 1994],
      dtype=int64)

In [340]:
for i in indexes:
    # try:
    print(movies_df["title"].values[dic[i]])

Exorcist II: The Heretic (1977)
Rambo III (1988)
Royal Wedding (1951)
Bring It On (2000)
Jack Frost (1998)
U Turn (1997)
Autumn Tale, An (Conte d'automne) (1998)
Killer's Kiss (1955)
Breakfast Club, The (1985)
Caddyshack (1980)

In [341]:
for i in indexes:
    # try:
    print(movies_df[movies_df["movieId"] == dic[i]].title.values[0])

Best Men (1997)
Newton Boys, The (1998)
Shaft (1971)
Gulliver's Travels (1939)
Welcome to Woop-Woop (1997)
Quiet Man, The (1952)
Black Cauldron, The (1985)
Great Mouse Detective, The (1986)
McHale's Navy (1997)
Wolf Man, The (1941)

###########################################################################################################

In [330]:
k = 610
movie_id = 1 # Grab an id from movies.dat
top_n = 10

sliced = Vt.T[:, :k] # representative data
print(sliced.shape)
indexes = top_cosine_similarity(U, sliced, movie_id, top_n)

(9742, 610)
(9742,)
[ 735 6667 4169 ... 8228 9693 8143] 9741

C:\Users\akgh1\AppData\Local\Temp\ipykernel_21184\4166208365.py:5: RuntimeWarning: invalid value encountered in divide
  similarity = np.dot(user_row, data.T) / (magnitude[index] * magnitude)

In [332]:
indexes

array([ 735, 6667, 4169, 6090, 3113,  765, 7217, 7673, 6749, 2242],
      dtype=int64)

In [337]:
for i in indexes:
    # try:
    print(movies_df[movies_df["movieId"] == dic[i]].title.values[0])
    # print(movies_df["title"].values[dic[i]])

Bringing Up Baby (1938)
Cat Soup (Nekojiru-so) (2001)
Confessions of a Dangerous Mind (2002)
Rumor Has It... (2005)
Lilies of the Field (1963)
Apple Dumpling Gang, The (1975)
American Pie Presents: The Book of Love (American Pie 7: The Book of Love) (2009)
Hesher (2010)
American Pie Presents Beta House (American Pie 6: Beta House) (2007)
Crazy in Alabama (1999)